* , *::before , *::after {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list__item {
    width: 300px;
    &::after {
        content: ". . .";
        display: inline-block;
        font-size: 40px;
    }
    &:nth-child(3)::after {
        display: none;
    }
}
.item-link {
    text-decoration: none;
}