* , *::before , *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
   font-family: sans-serif; 
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.list__item {
    overflow-y: hidden;
    width: 300px;
    &::after {
        content: ". . .";
        display: inline-block;
        font-size: 40px;
    }
    &:nth-child(3)::after {
        display: none;
    }
}
.item-link {
    text-decoration: none;
    color: rgb(226, 83, 83);
    margin-left: 50px;
    position: relative;
    transition: 300ms all ease-in;
    &:hover {
        margin-left: 70px;
        &::before {
            width: 50px;
            left: -70px;
        }
    }
    &::before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 2px;
        background: rgb(226, 83, 83);
        position: absolute;
        top: 50%;
        left: -50px;
    }
}