*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  margin-top: 40px;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
  }
}

.list {
  display: flex;
  align-items: center;

  list-style: none;

  &__link {
    text-decoration: none;
    color: #b0acab;
    margin-left: 25px;
  }
}

.features__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.features__list-item {
    width: 300px;
    &::after {
        content: ". . .";
        display: inline-block;
        font-size: 40px;
    }
    &:nth-child(3)::after {
        display: none;
    }
}
.features__item-link {
    text-decoration: none;
}
